body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ff1111;
}

#balloon {
    width: 200px;
    height: 200px;
    background-color: rgb(0, 38, 161);
    border-radius: 50%;
    transition: all 0.2s;
}